
<section class="main">
  <div class="colmask">
    <div class="colleft">

      <div class="col1">

        <div *ngIf="checklists.length > 0">
          <!--<h2>{{tempChecklist[0].title}}</h2>-->
          <ul class="todo-list">
            <!--<li *ngFor="let todo of tempChecklist" [class.completed]="todo.complete">-->
            <li *ngFor="let checklist of checklists" style="list-style-type: none; text-align: left;">
              <div class="view">
                <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
                <label style="color: #000000" (click)="selectChecklist(checklist)">{{checklist.name}}</label>
                <img src="../../assets/img/ico/delete.png" alt="Mountain View" style="width:10px;height:10px;" (click)="deleteChecklist(checklist)" />
              </div>
            </li>
          </ul>
        </div>
        <input type="text" (keyup.enter)="addChecklist()" [(ngModel)]="newChecklistName" placeholder="New Checklist">
        <br/><br/>
        <button class="btn btn-default" (click)=showTestModal()>Show test modal</button>
        <button type="button" (click)="logout()">Logout</button>
        <br/><br/>
        <!--<input type="text" id="input-test1" value="Directive test" myLineThrough/>-->
      </div>

      <div class="col2">

        <div *ngIf="tasks.length > 0">
          <!--<h2>{{tempChecklist[0].title}}</h2>-->
          <ul class="todo-list">
            <!--<li *ngFor="let todo of tempChecklist" [class.completed]="todo.complete">-->
            <li *ngFor="let task of tasks">
              <div class="view">
                <!--[highlight]=task.completed-->
                <input class="toggle" type="checkbox"  [checked]="task.completed" [(ngModel)]="task.completed" (click)= "completeTask(task)"/>
                <label (click)="showUpdateTaskModal(task)" style="color: #000000">
                    {{task.name}}
                </label>
                <img src="../../assets/img/ico/delete.png" alt="Mountain View" style="width:10px;height:10px;" (click)="deleteTask(task)" />
              </div>
            </li>
          </ul>
        </div>
        <br/><br/>
        <button (click)="showAddTaskModal()">New Task</button>

      </div>
    </div>
  </div>
</section>
