
<section class="main" *ngIf="checklists.length > 0">
  <!--<h2>{{tempChecklist[0].title}}</h2>-->
  <ul class="todo-list">
    <!--<li *ngFor="let todo of tempChecklist" [class.completed]="todo.complete">-->
    <li *ngFor="let checklist of checklists">
      <div class="view">
        <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
        <label style="color: #000000">{{checklist.name}}</label>
        <button class="" (click)="deleteChecklist(checklist)">Delete</button>
      </div>
    </li>
  </ul>
</section>
<button type="button" (click)="logout()">Logout</button>

<br/><br/>
<input type="text" id="input-test1" value="Directive test" myLineThrough/>




<!--<section class="main" *ngIf="tempChecklist.length > 0">
  <h2>{{tempChecklist[0].title}}</h2>
  <ul class="todo-list">
    
    <li *ngFor="let task of tempChecklist[0].tasks">
      <div class="view">
        
        <label>{{task.name}}</label>
        
      </div>
    </li>
  </ul>
</section>-->



<!--<form id="todo-list">
  <span class="todo-wrap">
    <input type="checkbox" id="1" checked/>
    <label for="1" class="todo">
      <i class="fa fa-check"></i>
      Have a good idea
    </label>
    <span class="delete-item" title="remove">
      <i class="fa fa-times-circle"></i>
    </span>
  </span>
  <br/>
  <span class="todo-wrap">
    <input type="checkbox" id="2"/>
    <label for="2" class="todo">
      <i class="fa fa-check"></i>
      Plan idea execution
    </label>
    <span class="delete-item" title="remove">
      <i class="fa fa-times-circle"></i>
    </span>
  </span>
  <br/>
  <span class="todo-wrap">
    <input type="checkbox" id="3"/>
    <label for="3" class="todo">
      <i class="fa fa-check"></i>
      Execute idea
    </label>
    <span class="delete-item" title="remove">
      <i class="fa fa-times-circle"></i>
    </span>
  </span>
  <br/>
	<span class="todo-wrap">
    <input type="checkbox" id="4"/>
    <label for="4" class="todo">
      <i class="fa fa-check"></i>
      Celebrate with a cold one
    </label>
    <span class="delete-item" title="remove">
      <i class="fa fa-times-circle"></i>
    </span>
  </span>

  <br/>
  <button type="button" (click)="logout()">Logout</button> 
</form>-->