<!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>CheckList</strong> | Login </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form #loginForm="ngForm" (ngSubmit)="onLogin()" role="form" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="form-username" placeholder="Email or Username" class="form-username form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="password">
                                </div>
                                <button type="submit" class="btn">Login</button>
                                <!--<div class="description">
                                    <p>
                                        <a href="#">
                                            <center><strong>Forgot your password?</strong></center>
                                        </a>
                                    </p>
                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






<!--
<div class="container">
    <div class="loginForm">
    <div class="grayColor"></div>
    <div class="loginBar">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <input type="text" class="input" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="input" id="password" placeholder="Password">
        </div>
        <button type="submit" class="submit">Login</button>
    </form>
    </div>
    </div>
</div>-->
