<div class="container">
    <div class="loginForm">
    <div class="grayColor"></div>
    <div class="loginBar">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <input type="text" class="input" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="input" id="password" placeholder="Password">
        </div>
        <button type="submit" class="submit">Login</button>
    </form>
    </div>
    </div>
</div>
