<div class="container">

    <div class="loginForm">
    <div class="grayColor"></div>
    <div class="loginBar">
    <form #signupForm="ngForm" (ngSubmit)="onSignup()">
        <!--Name-->
        <div class="form-group">
            <!--<label for="name">Name</label>
            <input type="text" class="form-control" id="name">-->
            <input type="text" class="input" id="name" placeholder="Name">
        </div>
        <!--Lastname-->
        <div class="form-group">
            <!--<label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname">-->
            <input type="text" class="input" id="lastname" placeholder="Lastname">
        </div>
        <!--Email-->
        <div class="form-group">
            <!--<label for="email">Email</label>
            <input type="text" class="form-control" id="email">-->
            <input type="text" class="input" id="email" placeholder="Email">
        </div>
        <!--Password-->
        <div class="form-group">
            <!--<label for="password">Password</label>
            <input type="text" class="form-control" id="password">-->
            <input type="text" class="input" id="password" placeholder="Password">
        </div>

        <!--<button type="submit" class="btn btn-default">Signup</button>-->
        <button type="submit" class="submit">Signup</button>
    </form>
    </div>
    </div>
</div>
